@using Newtonsoft.Json
@model PersonViewModel

@{ var ModelJson = JsonConvert.SerializeObject(Model); }
<script type="text/javascript">
    window.data = @Html.Raw(string.IsNullOrEmpty(ModelJson) ? "{}" : ModelJson);
</script>

<h1>People Search</h1>

  <div ng-app="app" ng-controller="ctrl" id="app">

  <form class="mainSearch-form" ng-submit="search()">
    <input ng-model="query" type="text" name="query" placeholder="Search names" autocomplete="off" />
    <button type="submit" href="#">Search</button>
  </form>

    <ul>
      <!-- display each art object using ng-repeat directive -->
      <li ng-repeat="x in data">
        <img src="{{ x.imageUrl }}" class="profile-img">
        <h4>{{ x.firstName }} {{ x.lastName }}</h4>
        <p>Age: {{ x.age }}</p>
        <p><span ng-repeat="i in x.interests">{{ i }}</span></p>
      </li>
    </ul>


  </div>
